.workflow-container {
  width: 16vw;
  height: 15vh;
  border: 1px black solid;
  margin: 15px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 255, 255, 1.0);
  border: 0px none #000000;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workflow-chain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  display: flex;
  justify-content: center;
  margin-top: 10px;  
}

.current-workflow-title {
  margin-left: 40px;
  margin-top: 50px;
  font-size: 28px;
}

